/.venv
/venv
/__pycache__
.DS_Store
mpc_animation.gif
mpc_animation.mp4
rover_trajectory__batch.gif
rover_trajectory__batch.mp4
rover_trajectory__batch.mov
rover_trajectory_batch.mov
rover_trajectory_batch.mp4
rover_trajectory_batch.gif
RoverMPC.ipynb
